# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/output_horizon2021_car
/output_horizon2021_car_10_percent
/output_horizon2021_removerTest
/input
out
gen
